server:
  port: 8084
spring:
  application:
    name: webflux-sqs

cloud:
  aws:
    region:
      static: us-east-1
      auto: true
    credentials: # dev1234
      accessKey: AKIAQV6WC7UQTUPIECWC #${{ secrets.ACCESS_KEY }}
      secretKey: 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 #${{ secrets.SECRET_KEY }}
      instanceProfile: false
    stack:
      auto: false


management:
  endpoints:
    web:
      exposure:
        include: info, health, metrics, prometheus
    health:
      show-details: always

# Para eliminar alerta de EC2MetadataUtils : com.amazonaws.util.EC2MetadataUtils      : Unable to retrieve the requested metadata (/latest/meta-data/instance-id). Failed to connect to service endpoint:
logging:
  level:
    com:
      amazonaws:
        util:
          EC2MetadataUtils: error
